<a href="https://colab.research.google.com/github/fervo03/DFC_2020/blob/master/DFC609_Project_20200613.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
from io import StringIO

path = '/content/drive/My Drive/Colab Notebooks/20200511_055550.txt'
fhand = open(path, 'rt')
trimed_data = 'Type Time C_price C_quantity C_direction Ask_price Ask_quantity Bid_price Bid_quantity Move_to*\n'

pd.set_option('display.max_row', 500)

In [4]:
pre_ask_p = 0

for line in fhand:
  time = line[-11:-2]
  data_type = line[:2]

  try:
    itime = int(time)
  except:
    continue

  if itime < 90000000 or itime > 152000000 :
    continue
  
  if data_type == 'A3':
    con_p = line[34:43]
    con_q = line[43:53]
    con_d = line[112:113]
    #ask_p = '000000000'
    #ask_q = '000000000000'
    #bid_p = '000000000'
    #bid_q = '000000000000'
    
  elif data_type == 'B6':
    con_p = '000000000'
    con_q = '0000000000'
    con_d = '0'
    ask_p = line[34:43]
    ask_q = line[52:64]
    bid_p = line[43:52]
    bid_q = line[64:76]

  if pre_ask_p == int(ask_p) :
    move_to = '0' 
  elif pre_ask_p > int(ask_p) :
    move_to = '1'
  elif pre_ask_p < int(ask_p) :
    move_to = '2'

  pre_ask_p = int(ask_p)
  
  trimed_line = data_type + ' ' + time + ' ' + con_p + ' ' + con_q + ' ' + con_d + ' ' + ask_p + ' ' + ask_q + ' ' + bid_p + ' ' + bid_q + ' ' + move_to
  trimed_data = trimed_data + trimed_line + "\n"

df = pd.read_csv(StringIO(trimed_data), sep = " ", error_bad_lines=False)
fhand.close()

df

b'Skipping line 19: expected 10 fields, saw 11\n'

      Type       Time  C_price  ...  Bid_price  Bid_quantity  Move_to*
0       B6   90000254        0  ...      30300          1725         2
1       B6   90002010        0  ...      30200           199         1
2       B6   90003153        0  ...      30150           905         1
3       B6   90004199        0  ...      30150           742         0
4       B6   90005168        0  ...      30100          1040         1
...    ...        ...      ...  ...        ...           ...       ...
33329   B6  151957740        0  ...      29750          9993         0
33330   B6  151958420        0  ...      29750          9993         0
33331   A3  151958487    29800  ...      29750          9993         0
33332   A3  151958563    29800  ...      29750          9993         0
33333   B6  151958648        0  ...      29750          9993         0

[33334 rows x 10 columns]

In [5]:

cum_CQ = int()
mean_AP = df['Ask_price'].mean()
df['Pre_move*'] = 0
df['Impact*'] = 0


for i in df.index:
  if df.loc[i,'Move_to*'] == 2 :
    for k in range(30) :
      if df.loc[max(0,i-k-1), 'Move_to*'] != 0 :
        break
      df.loc[max(0,i-k-1), 'Pre_move*'] = 2
      
  if df.loc[i, 'C_direction'] == 2 :
    cum_CQ = cum_CQ + df.loc[i, 'C_quantity']
  if df.loc[i, 'Move_to*'] != 0 :
    cum_CQ = 0
  df.loc[i, 'Impact*'] = cum_CQ 
# df.loc[i, 'Impact*'] = cum_CQ / df.loc[i,'Ask_quantity'] * 100
  
df['BA_ratio*'] = df['Ask_quantity'] / df['Bid_quantity'] * 100
#df['Ask_quantity*'] = df['Ask_quantity'] / mean_AP * 100
#df['C_quantity*'] = df['C_quantity'] / mean_AP * 100

df.to_csv('df.csv')
df2 = df[['Pre_move*','Impact*','BA_ratio*']]
df2.to_csv('df2.csv')

In [6]:
df2

       Pre_move*  Impact*  BA_ratio*
0              0        0  39.304348
1              0        0  82.412060
2              0        0   2.209945
3              0        0  96.495957
4              0        0   7.788462
...          ...      ...        ...
33329          0      627  47.293105
33330          0      627  47.293105
33331          0      628  47.293105
33332          0      780  47.293105
33333          0      780  45.762033

[33334 rows x 3 columns]

In [ ]:
start_time = input('Start time (HHMMSSmmm) : ')
end_time = input('End time (HHMMSSmmm) :')


after_stime = df['Time'] > int(start_time)
before_etime = df['Time'] < int(end_time)
is_move = df['Move_to*'] == 2
is_pre_move = df['Pre_move*'] == 2
fil_con = after_stime & before_etime & (is_move | is_pre_move)

df[fil_con]

Start time (HHMMSSmmm) : 100000000
End time (HHMMSSmmm) :103000000

     Type       Time  C_price  ...  Pre_move*     Impact*  BA_ratio*
6915   A3  101234438    30050  ...          2   46.628668   0.667459
6916   A3  101234438    30050  ...          2   49.867219   0.667459
6917   A3  101234439    30050  ...          2   51.162640   0.667459
6918   A3  101234440    30050  ...          2   54.401192   0.667459
6919   A3  101234442    30050  ...          2   57.639744   0.667459
6920   A3  101234504    30050  ...          2   58.287454   0.667459
6921   A3  101234527    30050  ...          2   58.935164   0.667459
6922   A3  101234534    30050  ...          2   62.173716   0.667459
6923   A3  101234534    30050  ...          2   63.469137   0.667459
6924   A3  101234536    30050  ...          2   66.707688   0.667459
6925   A3  101234543    30050  ...          2   69.946240   0.667459
6926   A3  101234550    30050  ...          2   73.184792   0.667459
6927   A3  101234572    30050  ...          2   73.832502   0.667459
6928   A3  101234603    30050  ...          2   74.480212   0.667459
6929   A3  101234606    30050  ...          2   75.775633   0.667459
6930   A3  101234613    30050  ...          2   76.423343   0.667459
6931   A3  101234619    30050  ...          2   77.718764   0.667459
6932   A3  101234624    30050  ...          2   78.366475   0.667459
6933   A3  101234631    30050  ...          2   79.661895   0.667459
6934   A3  101234634    30050  ...          2   80.309606   0.667459
6935   A3  101234644    30050  ...          2   83.548157   0.667459
6936   A3  101234648    30050  ...          2   83.768379   0.667459
6937   B6  101234662        0  ...          2  137.395092   0.367466
6938   A3  101234663    30050  ...          2  145.065335   0.367466
6939   A3  101234663    30050  ...          2  152.735578   0.367466
6940   A3  101234664    30050  ...          2  160.352704   0.367466
6941   A3  101234665    30050  ...          2  168.022947   0.367466
6942   A3  101234666    30050  ...          2  175.693190   0.367466
6943   A3  101234667    30050  ...          2  183.363434   0.367466
6944   A3  101234673    30050  ...          2  237.395092   0.367466
6945   B6  101234997        0  ...          0    0.000000   2.906250
7147   B6  101436610        0  ...          2   58.942390   0.409435
7148   B6  101438036        0  ...          2   58.942390   0.409435
7149   B6  101438842        0  ...          2   58.942390   0.409435
7150   A3  101439115    30100  ...          2   60.318143   0.409435
7151   B6  101439298        0  ...          2   61.159547   0.403802
7152   B6  101439774        0  ...          2   61.159547   0.403802
7153   B6  101440427        0  ...          2   61.159547   0.403447
7154   B6  101442298        0  ...          2   61.159547   0.403447
7155   B6  101443989        0  ...          2   61.253002   0.402832
7156   A3  101444189    30050  ...          2   61.253002   0.402832
7157   A3  101444199    30100  ...          2   61.471294   0.402832
7158   B6  101444291        0  ...          2   61.605776   0.404084
7159   A3  101446108    30050  ...          2   61.605776   0.404084
7160   B6  101446269        0  ...          2   61.605776   0.404227
7161   B6  101447013        0  ...          2   61.605776   0.404191
7162   A3  101447164    30100  ...          2   64.887333   0.404191
7163   B6  101447436        0  ...          2   67.088894   0.390928
7164   A3  101447438    30100  ...          2   83.306944   0.390928
7165   B6  101447732        0  ...          2   99.433045   0.349698
7166   B6  101447903        0  ...          2   98.766425   0.352058
7167   A3  101448125    30100  ...          2   98.900510   0.352058
7168   B6  101448438        0  ...          2   99.033298   0.351586
7169   B6  101449092        0  ...          2   99.033298   0.351586
7170   B6  101449303        0  ...          2   99.033298   0.351520
7171   A3  101449934    30100  ...          2   99.301826   0.351520
7172   B6  101450003        0  ...          2   99.569198   0.292948
7173   A3  101450006    30100  ...          2  138.449111   0.292948
7174   A3  101450008    30100  ...          2  177.329025   0.292948
7175   A3  101450012    30100  ...          2  196.768982   0.292948
7176   A3  101450030    30100  ...          2  199.569198   0.292948
7177   B6  101450242        0  ...          0    0.000000   5.501706
7931   A3  102359158    30100  ...          2  298.299320   0.221608
7932   B6  102359214        0  ...          2  318.909091   0.207286
7933   B6  102400936        0  ...          2  318.909091   0.137466
7934   A3  102401027    30100  ...          2  318.969697   0.137466
7935   B6  102401200        0  ...          2  340.426908   0.128801
7936   A3  102401288    30100  ...          2  362.289780   0.128801
7937   B6  102401495        0  ...          2  463.658940   0.100642
7938   B6  102402103        0  ...          2  463.658940   0.100633
7939   B6  102402190        0  ...          2  463.658940   0.100633
7940   B6  102402477        0  ...          2  406.163887   0.114878
7941   B6  102403017        0  ...          2  405.282200   0.115128
7942   A3  102403460    30100  ...          2  417.438495   0.115128
7943   B6  102403485        0  ...          2  439.041096   0.109464
7944   B6  102403892        0  ...          2  439.041096   0.109300
7945   B6  102405378        0  ...          2  439.041096   0.109300
7946   A3  102406108    30050  ...          2  439.041096   0.109300
7947   B6  102406181        0  ...          2  439.041096   0.109327
7948   B6  102406518        0  ...          2  429.241071   0.111823
7949   A3  102406857    30100  ...          2  436.681548   0.111823
7950   B6  102406869        0  ...          2  471.784566   0.103503
7951   B6  102407136        0  ...          2  445.972644   0.109493
7952   A3  102408477    30100  ...          2  446.048632   0.109493
7953   B6  102408594        0  ...          2  483.127572   0.101090
7954   B6  102409061        0  ...          2  479.967294   0.101756
7955   B6  102409515        0  ...          2  509.991312   0.095765
7956   B6  102410335        0  ...          2  509.991312   0.090338
7957   A3  102410339    30100  ...          2  572.719374   0.090338
7958   A3  102410442    30100  ...          2  581.407472   0.090338
7959   A3  102410444    30100  ...          2  609.991312   0.090338
7960   A3  102410527    30100  ...          2  609.991312   0.090338
7961   B6  102410887        0  ...          0    0.000000   7.331940
7962   A3  102410945    30100  ...          2    0.000000   7.331940
7963   A3  102411023    30100  ...          2    0.000000   7.331940
7964   B6  102411300        0  ...          2    0.000000   4.251761
7965   B6  102411787        0  ...          2    0.000000   0.667131
7966   A3  102411964    30150  ...          2   18.851175   0.667131
7967   B6  102412715        0  ...          2   31.722320   0.325888
7968   A3  102412718    30150  ...          2   63.444640   0.325888
7969   A3  102412719    30150  ...          2   94.947276   0.325888
7970   B6  102413710        0  ...          2  258.183990   0.095222
7971   A3  102413714    30150  ...          2  358.183990   0.095222
7972   A3  102413739    30150  ...          2  358.183990   0.095222
7973   A3  102413751    30150  ...          2  358.183990   0.095222
7974   B6  102414542        0  ...          0    0.000000  20.588621

[106 rows x 13 columns]